nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #d5d5dd;
    margin-bottom: 20px;
  }
  
  nav img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #007bff;
  }
  